<app-header></app-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <mat-nav-list>
      <div matRipple *ngFor="let item of menuItems" (click)="onMenuClick(item)" class="item">
        <div class="custom-list-item">
          <mat-icon class="menu-icon">{{ item.icon }}</mat-icon>
          <span class="menu-label">{{ item.label }}</span>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">
  <span>Footer</span>
</mat-toolbar>
