.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-width: 1px;
  border-color: #efefef;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 1px;
  border-color: #efefef;
  z-index: 10;
}

.custom-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon {
  font-size: 20px;
}

.menu-label {

}
